.marble_board {
	background-image: url("/bluemable/images/b2.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.no_border {
	border: none !important; /*테두리 없음. (!important)무조건 적용 */
}
.boaard_floor {
	background: lightblue;
}

 b {font-size:40px; }
 /*반투명*/
 .rcorners {
  border-radius: 25px;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  width: 200px;
  height: 150px;
}

/*원형 버튼 */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  background-color: yellow;
}
/*주사위 사이즈*/
.dice_size{
	width: 60px;
	height: 60px
}

.in_middle{
	align:center;
}

/* 안씀.
td:hover  {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
	background: rgba(204, 153, 0, 0.2);
	border-radius: 15px;
}
*/

/*화면 안보이기*/
.no_hover{
	visibility: hidden;
}
/* 회색판  */
.diceBoard{
	float : right;
	background: rgba(0,0,0,0.5);
	text-align: center;
	background-color: silver;
	
}